.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

node_modules
.pnpm-store
.next
.source
.nuxt
.output
.turbo
out

.idea
.vscode
.opencode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
Thumbs.db

coverage

*.md
!content/**/*.md
!content/**/*.mdx
LICENSE
CHANGELOG*
README*
img/

.env
.env.*
!.env.example

*.log
npm-debug.log*
pnpm-debug.log*
