# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Node.js
node_modules
npm-debug.log
.pnpm-store
.output
.nuxt

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
.DS_Store

# Tests
/test
/coverage