services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: kftray-blog:latest
    container_name: kftray-blog
    ports:
      - "3030:3000"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - HOSTNAME=0.0.0.0
      - PORT=3000
    networks:
      - acogsgggo880c0oo4os80oco
    labels:
      - coolify.managed=true
      - coolify.applicationId=1
      - coolify.type=application

networks:
  acogsgggo880c0oo4os80oco:
    external: true
